.truncated {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card {
    padding: 0px;
    background: none;
    border: none;
    box-shadow: none;
}
.card.list_unit{
    cursor: pointer;
}
.card-body {
    padding: 0px;
}
.card-text, .card-title {
    font-size: 1.25em;
}

.availability button:nth-child(4n) {
    margin-right: 0px;
}
.availability button:nth-child(n + 5) {  
    margin-bottom: 0px;
}
.availability button {
    width: calc(25% - 15px);
    margin-right: 15px;
    margin-bottom: 15px;
}
.availability button.selected {
    background: black;
    color: white;
}